# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

In [1]:
number = 100

print(number)

100

##### Assinging float

In [2]:
num_float = 2.030

number_float = 5.770

print(num_float)
print(number_float)

num_float + number_float

2.03
5.77

7.799999999999999

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 10
num2 = 5.4

result = num1 + num2 
print(result)

# longform incrementation

result = result + 2
print(result)

# shorthand incrementation
result += 2
print(result)

15.4
17.4
19.4

##### Subtraction

In [4]:
num3 = 6
num4 = 4

result_diff = num3 - num4
print(result_diff)

result_diff -= 1
print(result_diff)

2
1

##### Multiplication

In [5]:
result_mul = num3 * num4
print(result_mul)

result_mul *= 2
print(result_mul)

24
48

##### Division

In [6]:
num5 = 10
num6 = 2

result_div = num5 / num6
print(result_div)

result_div /= 2
print(result_div)

5.0
2.5

##### Floor Division

In [7]:
num7 = 7.0

result_floor = num7 // 2

print(result_floor)

print(type(result_floor))

# shorthand incrementation

result_floor //= 2
print(int(result_floor))

3.0
<class 'float'>
1

##### Modulo

In [8]:
num8 = 9
num9 = 3

result_mod = num8 % num9
print(result_mod)

#check if even: <number> % 2


#using "incrementation" here isn't really the same as the others.
#Instead, it resets the variable to the remainder of the math operation.
num8 %= 2
print(num8)

0
1

##### Exponential

In [9]:
sq = 5**2
print(sq)

#shorthand
sq **= 2
print(sq)

25
625

### String Input-Output

##### String Assignment

In [10]:
name = 'mike'
print(name.title())

#single vs double quotes
sentence = "Mike's Python code"
print(sentence)

printed_quote = 'Nate says "hello"'
print(printed_quote)

Mike
Mike's Python code
Nate says "hello"

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

In [11]:
first_name = "john"
last_name = "smith"

full_name = first_name.title() + ' ' + last_name.title()

print(full_name)

#shorthand for appending onto a string
#same as full_name = full_name + ", Jr."
full_name += ", Jr."
print(full_name)

John Smith
John Smith, Jr.

##### Type Conversion

In [12]:
number = '100'
change_number = int(number)

print(number)
print(type(number))

print(change_number)
print(type(change_number))

100
<class 'str'>
100
<class 'int'>

##### input()

In [14]:
#asks for user input
#input always returns a str value -- All the time
#but you can convert the type to int if you are specifically asking
#for an int, and you can set it up to throw an error message if
#input type is not what you're looking for

#name = input("What is your name?")
#
#print(name)

#age = int(input('How old are you?'))

next_year = age + 1

NameError: name 'age' is not defined

##### format()

In [18]:
name = input('What is your name?')
age = input("How old are you?")

#sentence = "Hello, " + name + ". " "You are " + age + " years old!"
#print(sentence)

result_string = "Hello, {}. You are {} years old!".format(name, age)
#print(result_string)

result_again = f"Hello, {name}. You are {age} years old!"
print(result_again)

What is your name?Mike
How old are you?33
Hello, Mike. You are 33 years old!

##### Old Way (python 2)

In [22]:
old_string = "You are %s years old and you look great." %age

print(old_string)

You are 33 years old and you look great.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [28]:
#Output: The car of my dreams is a teal 2020 Volkswagen Sportwagen.

#color = input("What is the color of your dream car?")
#year = input("What year was your dream car made?")
#make = input("What is the make of your dream car?")
#model = input("What model is your dream car?")

#dream_car = f"Your dream car is a {color} {year} {make} {model}! I hope you get it one day."
#print(dream_car)

What is the color of your dream car?TEAl
What year was your dream car made?2021
What is the make of your dream car?vw
What model is your dream car?golf sportwagen
Your dream car is a TEAl 2021 vw golf sportwagen! I hope you get it one day.

### If Statements

In [36]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num10 = 6
num11 = 12

if num10 == num11:
    print('equal values')
else:
    print('those aren\'t equal')

if num10 <= num11:
    print("num10 is less than or equal to num11")
else:
    print("num10 is not less than or equal to num11")
    
if num10 == 5 or num11/num10 == 2:
    print("num10 is 6 and num11 is 12")

those aren't equal
num10 is less than or equal to num11
num10 is 6 and num11 is 12

##### 'is' keyword

In [37]:
# use the "is" keyword when looking for the exact same object vs comparing 2 values

names = []
names_2 = []

if names is names_2:
    print("same object")
else:
    print("not same object")

not same object

##### 'in' keyword

In [40]:
# use "in" to see if something (characters, name) is within a string
#check if name is part of larger string object
# can search for things in a list, dictionary, etc.

char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")
    
names = [1,2,3]
if 4 in names:
    print("2 is in that list")
else:
    print("look somewhere else")

The character who lost everything...
look somewhere else

##### 'not in' keyword'

In [45]:
#most common use case is checking if a username is in a list

sega_char = "Sonic"

if 'a' not in sega_char.lower() and 's' not in sega_char.lower():
    print("That letter is not in that name.")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [49]:
food = input("What is your favorite food?")

if 'p' in food.lower():
    print('That food has a "p" in it.')
else:
    print("Thank goodness. Peas are disgusting.")

What is your favorite food?Pizza
That food has a "p" in it.

## Using 'and'/'or' with If Statements

In [55]:
# if statement with 'and' means both parts must be true

num12 = 12
num13 = 2
num14 = 15
num15 = 2

if (num12/num13 == 6) and (num14 - num15 == 12):
    print('True and True')
elif (num12/num13 == 20) or (num14 * num15 == 30):
    print('The second one is right.')

The second one is right.

### Elif Statements

In [65]:
first = input("What is your name?")

if first == "Smith":
    print("My first name is Smith.")
elif first == "Tom":
    print("My first name is Tom.")
else:
    print("The name is Mike.")

What is your name?Smith
My first name is Smith.

### Else Statements

In [ ]:
# see above

### For Loops

In [72]:
#'for' keyword, counter, 'in' keyword, object or condition
#for looks at each character in a string

#for i in range(10):
#    print(i)
    
#can loop over a string character by character

name = "Mike"

# for letter in name:
#     print(letter)
    
#to look at index, you set up a loop over the length len()

for i in range(len(name)):
    print(name[i])

M
i
k
e

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [73]:
for i in range(10):
    if i == 5:
        continue #skip this iteration, just go back to start
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [74]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [81]:
#not recommended

for i in range(5):
    for j in range(5):
        print(f'i = {i} j = {j}')

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [84]:
# similar to a 'for' loop, but instead of looking
# at a specific range, it keeps going until a specified 
# condition or as long as a condition remains true or 
# untrue, based on what you set

# understand what you're checking and best practice
# is to set your termination case first

num16 = 0

while num16 < 10:
    print(num16)
    num16 += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over = False

while True:
    user_input = input("What do you want to do? quit or continue?")
    if user_input == 'quit':
        game_over = True
        break

##### While & For Loops Used Together

In [2]:
num17 = 0

while num17 < 5:
    print(" \n While Loop Iteration: " + str(num17))
    
    for i in range(2):
        print("\n For Loop Iteration:" + str(i))
    
    num17 += 1

 While Loop Iteration: 0

 For Loop Iteration:0

 For Loop Iteration:1

 While Loop Iteration: 1

 For Loop Iteration:0

 For Loop Iteration:1

 While Loop Iteration: 2

 For Loop Iteration:0

 For Loop Iteration:1

 While Loop Iteration: 3

 For Loop Iteration:0

 For Loop Iteration:1

 While Loop Iteration: 4

 For Loop Iteration:0

 For Loop Iteration:1

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

In [103]:
#check variable and instance type
# isinstance(var, type)

print(isinstance(4.5,int))

False

##### abs()

In [ ]:
#returns absolute value (positive value) of any inserted number

### Try and Except

In [ ]:
# great for testing code especially when you are anticipating multiple bugs
# use to log out more thoughtful error messages for yourself and team

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
#start by cubing 1, as long as the answer is less than 1000, keep going. 
# I want to start with n = 1, then cube 1, print it, then add 1 to 1, then cube it (2), print it, 
#once the answer is equal to 1000, break
n = 1
x = 0

while x < 1000:
    x = n**3
    print(x)
    n += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [10]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
# what is a prime number? it is a number that is only divisible by itself and 1. 1 is not a prime number
# so x%x=0, x % any other number != 0
# we're looking for all x < 100

#for x in range(100) and x != 1

# for num in base:
#     temp_base = base
#     temp_base.remove(num)
#     print(temp_base)

# base = list(range(2, 100))

# for x in range(2, 100):
#     if (x//2 != 1):
#         print(x)

# base = list(range(1, 100))
# i = 1

# for num in base:
#     if num//i == 1:
#         base.append(num)
#         print(base)

num = input("Pick a number:")
for x in range(1, int(num)):
    if x <= 3 and x != 1:
        print(x)
        continue
    if x > 3 and x < 10 and x % 2 != 0 and x % 3 != 0:
        print(x)
        continue
    if x >= 10 and x % 2 != 0 and x % 3 != 0 and x % 5 != 0 and x % 7 != 0:
        print(x)

Pick a number:500
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
121
127
131
137
139
143
149
151
157
163
167
169
173
179
181
187
191
193
197
199
209
211
221
223
227
229
233
239
241
247
251
253
257
263
269
271
277
281
283
289
293
299
307
311
313
317
319
323
331
337
341
347
349
353
359
361
367
373
377
379
383
389
391
397
401
403
407
409
419
421
431
433
437
439
443
449
451
457
461
463
467
473
479
481
487
491
493
499

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [79]:
age = input("How old are you?")

if int(age) < 18:
    print("Kiddo")
elif int(age) >= 18 and int(age) <= 65:
    print('Prime of life')
else:
    print('The end is nigh.')

How old are you?89
The end is nigh.